/* button */

.btn-primary {
    height: 60px;
    font-size: 40px;
    color: white;
    border: solid white 1px;
    font-weight: 200px;
    border-radius: 5px;

    background: rgb(236, 136, 136);

    position: absolute;
    top: 50%;
    left: 50%;
    margin-bottom: 700px;


}

.button {}

.main-banner {
    background: bisque;
    height: 670px;
    background-image: url(../images/topbanner-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main-banner h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    font-weight: 400px;
    padding: 180px 200px 0;
}

.main-banner p {
    text-align: center;
    font-size: 15px;
    color: white;
    padding-bottom: 260px;
    padding-left: 180px 200px;
    margin-bottom: 400px;


}